.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  
  .mat-form-field {
    opacity: 1 !important;
    transition: none !important;
  }
  
  .form-container {
  visibility: visible !important;
  opacity: 1 !important;
  transition: none !important;
  }
  