<div class="form-container">
    <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
      <h2>Atualizar Contato</h2>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="contato_id" type="text" disable>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="contato_nome" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="contato_email" type="email" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="contato_celular" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="contato_telefone" type="text" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Favorito</mat-label>
        <mat-select formControlName="contato_sn_favorito" required>
          <mat-option value="S">Sim</mat-option>
          <mat-option value="N">Não</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Ativo</mat-label>
        <mat-select formControlName="contato_sn_ativo" required>
          <mat-option value="S">Sim</mat-option>
          <mat-option value="N">Não</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!contatoForm.valid">
        <mat-icon>save</mat-icon> Atualizar
      </button>
      <button mat-button (click)="onCancel()">Cancelar</button>
    </form>
  </div>
  